.bg-img-size{

    background-position: center center;
    background-size: cover;
}

.bg-img-size-2{

    background-position: center bottom;
    background-size: cover;
}


.bg-img-size-3{

    width: 200px;
}
