.deco-line{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        right: 0;
        height: 3px;
        width: 95%;
        background-color: $info;
    }
}