    .img-opacity {
        img{
            position: center center;
            object-fit: cover;
            height: 424px;
            width: 100%;
            transition: opacity 0.3s ease;
            opacity: 1;
            position: absolute;
        }
        
        &:hover{
            
            img{
                opacity: 0;
            }
            button{
                color: $info;
            }
        }
    }


    